<main fxLayout="column" fxFlex fxLayoutAlign="center center">
  <div class="bg-image blur" style="background-image: url('https://images.ua.prom.st/1098702380__dsc8867.jpg')"></div>
  <div *ngIf="!hasAccount">
    <mat-card class="auth-card">
      <mat-card-title class="text-center">Register </mat-card-title>
      <mat-card-content>
        <div class="text-center">
          <button mat-raised-button color="primary" class="full-width">
            <mat-icon svgIcon="facebook"></mat-icon>
            Enter via Facebook
          </button>
        </div>
        <div class="text-center">OR</div>
        <form>
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone number or email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="" class="full-width">Register</button>
        </form>

      </mat-card-content>
    </mat-card>
    <mat-card class="auth-card">
      <mat-card-subtitle>
        <span>Have already an account?</span>
        <button type="button" mat-button color="primary" (click)="hasAccount = !hasAccount">
          Log in</button>
      </mat-card-subtitle>
    </mat-card>
  </div>
  <div *ngIf="hasAccount">
    <mat-card class="auth-card">
      <mat-card-title class="text-center">Log in </mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field class="full-width">
            <input matInput placeholder="Username, phone number or email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="full-width">Log in</button>
          <button mat-button color="primary" type="button" class="full-width">Forgot passwrod? </button>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="auth-card">
      <mat-card-subtitle>
        <span>Do not have an account yet?</span>
        <button type="button" mat-button color="primary" (click)="hasAccount = !hasAccount">
          Register</button>
      </mat-card-subtitle>
    </mat-card>
  </div>
</main>