main {
  height: 100%;
}

.bg-image {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.blur {
  filter: blur(5px);
}
.auth-card {
  min-width: 280px;
  max-width: 300px;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}
mat-form-field {
  margin-bottom: 12px;
}
.full-width {
  width: 100%;
}
.text-center {
  text-align: center;
}
