<div fxLayout="row wrap" fxLayoutGap="16px">
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
</div>