<div>
  <ui-carousel [infinite]="true" [fade]="false" [speed]="1000" height="60vh" [autoPlaySpeed]="3500">
    <ui-carousel-item *ngFor="let image of images">
      <img [ui-lazy-load]="image">
    </ui-carousel-item>
  </ui-carousel>
</div>
