@import '~@angular/material/theming';

@include mat-core(); // Be sure that you only ever include this mixin once!

$custom-primary: (
  50: #e0f6fb,
  100: #b3e9f4,
  200: #80dbed,
  300: #4dcde5,
  400: #26c2e0,
  500: #00b7da,
  600: #00b0d6,
  700: #00a7d0,
  800: #009fcb,
  900: #0090c2,
  A100: #ebf9ff,
  A200: #b8eaff,
  A400: #85dbff,
  A700: #6bd3ff,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #ffffff
    )
);
$custom-accent: (
  50: #edecf5,
  100: #d3d0e5,
  200: #b6b1d4,
  300: #9991c3,
  400: #837ab6,
  500: #6d62a9,
  600: #655aa2,
  700: #5a5098,
  800: #50468f,
  900: #3e347e,
  A100: #d1cbff,
  A200: #a498ff,
  A400: #7865ff,
  A700: #614cff,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff
    )
);
$primary: mat-palette($custom-primary, 500, 400);
$accent: mat-palette($custom-accent, 500, A700, A400);
$theme: mat-light-theme($primary, $accent);
// Include all theme styles for the components.
@include angular-material-theme($theme);
// @include mat-toolbar-theme($theme);