<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>Marmyza Shop</span>
    <div>
      <a mat-button routerLink=".">Delivery</a>
      <a mat-button routerLink=".">About us</a>
      <a mat-button routerLink="auth">Log in</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-carousel></app-carousel>
<div fxLayout="row" class="wrapper">
  <app-categories-filter></app-categories-filter>
  <div>
    <h2 class="mat-h2">Most popular</h2>
    <app-categories-list></app-categories-list>
  </div>

</div>