<mat-card class="card-size">
  <h2 class="mat-h2">Categories</h2>
  <hr>
  <nav>
    <ul>
      <li> Thermocups </li>
      <li> Ceramic cups
        <ul>
          <li>Ceramic cups 330 ml</li>
          <li>Ceramic cups 4200 ml</li>
        </ul>
      </li>
      <li> Bottles </li>
      <li> Flasks </li>
      <li> Gift sets </li>
    </ul>
  </nav>
</mat-card>